<div id="<%= dom_id login_form %>">
  <p>
    <strong>User name:</strong>
    <%= login_form.User_Name %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= login_form.Password %>
  </p>

  <p>
    <strong>Class:</strong>
    <%= login_form.Class %>
  </p>

</div>
